@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Work Sans:100,200,300,400,500,600,700');

/*------------------------Body---*/



/*-------------------Logo & Navigation-----*/

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-default .navbar-nav>li>a  {
    color: rgba(20,50,106, 1);
}

.navbar-default .navbar-nav>li>a {
    border: none;
}

 .navbar-header{
     height: 80px;
}
.navbar-default .links {
    padding-right: 0;
}


.logo {
    background-color: rgba(20,50,106, 0.6);
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
    border: 2px solid;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo h1 {
    color: #ffffff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 10px;
    padding-right: 10px;
    width: 100%;
    padding-bottom: 0;
}

.nav li a {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    border: 2px solid;
}

.nav li a:hover {
    background-color: #14326a;
    color: #eef94a;
}

.menuitem {
    background-color: #eef94a;
    color: #14326a;
    padding: 0;
    text-align: center;
    top: 5px;
}

/*-----------------------------Main Section Information----*/

.team-info {
    background-color: #fff;
    height: 500px;
    top: 10px;
    background-image: url('../images/kihc-zoom-clear.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.information .sponsor-information {
        background-color: #ffffff;
        height: 200px;
        margin-top: 20px;
}

.team-info,
.sponsor-information {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #14326a;
    border: 2px solid;
    overflow: auto;
}

.team-info .club-information {
    color: #14326a;
    border: 2px solid;
}

.sponsors table {
    padding: 2px;
    width: 100%;
}

/*--------------------------------Carousel--*/

.carousel-inner {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
}

.carousel-inner .image1 {
    background-image: url('../images/Flames.png'), linear-gradient(to right, rgba(0,0,0,0.1), rgba(1,0,0,1));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.carousel-inner .image2 {
    background-image: url('../images/Falcons.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.carousel-inner .image3 {
    background-image: url('../images/Redskins.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.carousel-inner .image4 {
    background-image: url('../images/Chiefs.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.carousel-inner .image5 {
    background-image: url('../images/Kubz.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.carousel-inner .image6 {
    background-image: url('../images/Eagles.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.carousel-inner .image7 {
    background-image: url('../images/Kestrels.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.carousel-inner .image8 {
    background-image: url('../images/Puck.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.home .carousel-indicators li{
    background-color: rgba(20,50,106, 1);
}

.club-information a {
    text-decoration: none;
    font-size: 20px;
}

.club-information p {
    font-size: 15px;
}
/*----------------------------------------Sponsors---*/


.sponsor-heading {
    position: relative;
}

.sponsor-heading h3 {
    border-bottom: 2px solid;
}

.sponsor-heading img {
    height: 50px;
    width: 66px;
}

.sponsor-heading .sponsors {
    overflow: auto;
}

/*-------------------------------------Whos who----*/

.club-information .whoswho .committee {
    display: inline-block;
}

/*-----------------------------------Teams-----*/

.team-heading {
    text-align: center;
    padding-top: 30px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#kubz, #eagles, #redskins, #chiefs, #flames, #falcons, #kestrels {
    display: none;
}

#kubz:target, #eagles:target, #redskins:target, #chiefs:target, #flames:target, #falcons:target, #kestrels:target  {
    display: inline;
}

/*-----------------------------------------Game Action---*/

.game-action  {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.game{
    display: inline-block;
    
}
/*-------------------------------Footer-----*/

.about, .download, .social, .contact {
    top: 10px;
    padding: 0;
    margin-top: 5px;
    color: #14326a;
    border-top: 2px solid;
    
}
.social-heading {
    color: #14326a;
    text-align: right;
}

.social-links {
    text-align: right;
    
}

.social-links li a i {
    height: 32px;
    width: 32px;
    padding: 12px 0;
    border-radius: 50%;
    background-color: #5388da;
    font-size: 12px;
    line-height: 7px;
    color: #ffffff;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/*-------------------------------Media Queries----*/
@media (max-width: 1245px) {
    .sponsor-information .sponsor-heading img {
        height: 50px;
        width: 66px;
    }
    
    .logo h1 img {
        width: 100px;
        height: 52px;
    }
}

@media (max-width: 991px) {
    .logo {
        font-size:30px;
    }
    
    .information .sponsor-information {
        height: 200px;
        margin-top: 20px;
    }
}

@media (max-width: 801px) {
    .logo h1 img {
        display: none;
    }
}


