@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Work Sans:100,200,300,400,500,600,700');

/*------------------------Body---*/

body {
 background-image: url(http://planeticerink.townsquareinteractive.com/files/2013/09/123076-1920x1200.jpg);   
 background-repeat: repeat-y;
 
}


/*-------------------Logo-----*/

.logo {
    background-color: rgba(20,50,106, 0.6);
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
    border: 2px solid;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo h1 {
    color: #ffffff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 10px;
    padding-right: 10px;
    width: 100%;
    padding-bottom: 0;
}

.nav li a {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    word-break: keep-all;
    border: 2px solid;
}

.menuitem {
    background-color: #eef94a;
    color: #14326a;
    padding: 0;
    text-align: center;
    top: 5px;
}

.nav li a:hover {
    background-color: #14326a;
    color: #eef94a;
}


/*-----------------------------Section Information----*/



.information .team-info, .information .sponsor-information  {
    background-color: #ffffff;
    height: 400px;
    top: 10px;
}


.team-info,
.sponsor-information {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #14326a;
    border: 2px solid;
}

.fixtures{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.team-info {
    background-image: url(/images/kihc-zoom-clear.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    position: relative;
}

.team-info .club-information {
    position: absolute;
    color: #14326a;
    border: 2px solid;
    
}

.club-information a {
    text-decoration: none;
    font-size: 20px;
}

.club-information p {
    font-size: 15px;
}

.sponsor-information .sponsor-heading img {
    height: 75px;
    width: 100px;
}

/*-------------------------------Footer-----*/

.about, .download, .social {
    top: 10px;
    padding: 0;
    margin-top: 5px;
    color: #14326a;
    border-top: 2px solid;
    
}
.social-heading {
    color: #14326a;
    text-align: right;
}

.social-links {
    text-align: right;
    
}

.social-links li a i {
    height: 32px;
    width: 32px;
    padding: 12px 0;
    border-radius: 50%;
    background-color: #5388da;
    font-size: 12px;
    line-height: 7px;
    color: #ffffff;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/*-------------------------------Media Queries----*/
@media (max-width: 1245px) {
        .sponsor-information .sponsor-heading img {
        height: 50px;
        width: 66px;
    }
}

@media (max-width: 991px) {
    .logo h1 {
        font-size:30px;
    }
    
    .logo h1 img {
        width: 100px;
        height: 52px;
    }
    
    .information .sponsor-information {
        height: 200px;
        margin-top: 20px;
        
    }

}

@media (max-width: 767px) {
    .logo h1 img {
        display: none;
    }
}