@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Work Sans:100,200,300,400,500,600,700');

/*------------------------Body---*/

body {
 background-image: url(http://planeticerink.townsquareinteractive.com/files/2013/09/123076-1920x1200.jpg);   
 background-attachment: fixed;
}


/*-------------------Logo & Navigation-----*/

.logo {
    background-color: rgba(20,50,106, 0.6);
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
    border: 2px solid;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo h1 {
    color: #ffffff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin: 10px;
    padding-right: 10px;
    width: 100%;
    padding-bottom: 0;
}

.nav li a {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    border: 2px solid;
}

.nav li a:hover {
    background-color: #14326a;
    color: #eef94a;
}

.menuitem {
    background-color: #eef94a;
    color: #14326a;
    padding: 0;
    text-align: center;
    top: 5px;
}

/*-----------------------------Main Section Information----*/

.team-info {
    background-color: #fff;
    height: 500px;
    top: 10px;
    background-image: url(/images/kihc-zoom-clear.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.information .sponsor-information {
        background-color: #ffffff;
        height: 200px;
        margin-top: 20px;
}

.team-info,
.sponsor-information {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #14326a;
    border: 2px solid;
    overflow: auto;
}

.team-info .club-information {

    color: #14326a;
    border: 2px solid;

}


/*--------------------------------Carousel--*/

.home .carousel {
    margin: 10px auto;
}

.home .carousel-inner .item img {
    height: 480px;
    width: 100%;
}

.home .carousel-indicators li{
    background-color: rgba(20,50,106, 1);
}

.club-information a {
    text-decoration: none;
    font-size: 20px;
}

.club-information p {
    font-size: 15px;
}
/*----------------------------------------Sponsors---*/


.sponsor-heading {
    position: relative;
}

.sponsor-heading h3 {
    border-bottom: 2px solid;
}

.sponsor-heading img {
    height: 50px;
    width: 66px;
}

.sponsor-heading .sponsors {
    overflow: auto;
}

/*-------------------------------------Whos who----*/

.club-information .whoswho .committee {
    display: inline-block;
}

/*-----------------------------------Teams - Modals-----*/

.list-group li {
    list-style: none;
}

.information .club-information .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 2;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.information .club-information .modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.information .club-information .modalDialog > div {
	width: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

/*--------------------------------------------Fixtures------*/

.fixtures {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.fixtures #eagles, .fixtures #redskins, .fixtures #chiefs, .fixtures #flames, .fixtures #falcons, .fixtures #kestrels {
    display: none;
}

.fixtures #eagles:target, .fixtures #redskins:target, .fixtures #chiefs:target, .fixtures #flames:target, .fixtures #falcons:target, .fixtures #kestrels:target  {
    display: inline;
}

/*-----------------------------------------Game Action---*/

.game-action  .game{
    display: inline-block;
}
/*-------------------------------Footer-----*/

.about, .download, .social, .contact {
    top: 10px;
    padding: 0;
    margin-top: 5px;
    color: #14326a;
    border-top: 2px solid;
    
}
.social-heading {
    color: #14326a;
    text-align: right;
}

.social-links {
    text-align: right;
    
}

.social-links li a i {
    height: 32px;
    width: 32px;
    padding: 12px 0;
    border-radius: 50%;
    background-color: #5388da;
    font-size: 12px;
    line-height: 7px;
    color: #ffffff;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/*-------------------------------Media Queries----*/
@media (max-width: 1245px) {
    .sponsor-information .sponsor-heading img {
        height: 50px;
        width: 66px;
    }
    
    .logo h1 img {
        width: 100px;
        height: 52px;
    }
}

@media (max-width: 991px) {
    .logo {
        font-size:30px;
    }
    
    .information .sponsor-information {
        height: 200px;
        margin-top: 20px;
    }
}

@media (max-width: 801px) {
    .logo h1 img {
        display: none;
    }
}


